@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.upComingMobile{
    padding-left: 5px;
    padding-right: 5px;
    font-family: "PT Serif", serif;
}
.heading{
    margin-top: 10px;
     margin-bottom: 5px;
     font-weight: bold;
     z-index: 0;
     padding: 5px;
  }
  .upMobileCard{
    display: flex;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(72, 100, 99, 0.253) inset ;
    margin-bottom: 10px;
    gap: 20px;
}
.cardImage{
    height: 150px;
    width: 150px;
    padding: 10px 20px;
}
.iphone{
    
    width: 130px;
}
.cardText{
    padding: 5px;
    padding-top: 15px;
}
.cardText p{
    margin-bottom: 10px;
    font-size: 15px;
}

.cost{
    font-weight: bold;
   
}
.desc{
    color: gray;
}
.extraDetails{
    display: none;
}
@media screen and (min-width:481px) {
    .upMobileCard{
        box-shadow: 5px 5px 10px  rgba(72, 100, 99, 0.253) inset ;
        margin-bottom: 10px;
    }
    .cardImage{
        height: 250px;
        width: 250px;
        padding-top: 10px;
    }
    .cardText{
        padding-top: 50px;
    }
    .iphone{
        height: 100%;
        width: 200px;
    }
    .cardText p{
        font-size: 20px;
    }
    .extraDetails{
        display: block;
    }
}
  @media screen and (min-width:769px){
  .uLayout{
       
    display: grid;
   grid-template-columns: 1fr 1fr;
}
.upMobileCard{
    box-shadow: 10px 10px rgba(10, 8, 8, 0.151);
   border-top: 0;
}
.cardImage{
    height: 220px;
    padding-top: 40px;
}
.iphone{
    height: 90%;
    width: 200px;
}
.extraDetails{
    color: rgb(69, 91, 96);
}
  }